doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/src/css/autocomplete.css")

	body

		include ./shared/header

		main.container
			form
				fieldset
					input(
						type="text", 
						class="mk-autocomplete", 
						placeholder="Search for a symbol", 
						name="symbol")

		include ./shared/scripts
		script(type="text/javascript", src="/src/js/standard/selectmenu.js")
		script(type="text/javascript", src="/src/js/standard/autocomplete.js")
		script.
			
			mkNasty.transitions(true);

			var Autocomplete = mkNasty.get('Autocomplete');
			var autocomplete = new Autocomplete('.mk-autocomplete', {
				remote: 'http://dev.markitondemand.com/MODApis/Api/v2/Lookup/jsonp?input={{%query}}',
				type: 'jsonp',
				comma: true,
				doubledelete: true
			});

			autocomplete.on('request.success', function (q, d) {
				this.each(d, function (i, o) {
					o.label = o.Name,
					o.value = o.Symbol
				});
			});

			autocomplete.on('activate', function (node, updateLabel) {
			
				if (updateLabel) {
					this.input.val(node.attr('data-display'));
				}
			});

			autocomplete.on('change', function () {
				console.info(this.selections);
			})