doctype html
html

	head
		include ./shared/head

	body
		include ./shared/header
		main.container
			div.row
				div.col-sm-8
					h2
						| Mk[ui] Core
					h3
						| Template System
					h3
						| Super Functions
					h3
						| Event Emitters

				div.col-sm-4
					section.panel
						header.panel-heading
							h3.panel-title
								| FirstClass Components
						div.panel-body
							ul.list-unstyled
								li
									a(href="/selectmenu")
										| Selectmenu
								li
									a(href="/tooltip")
										| Tooltip
								li
									a(href="/loader")
										| Loader
					section.panel
						header.panel-heading
							h3.panel-title
								| SecondClass Components
						div.panel-body
							ul.list-unstyled
								li
									a(href="/autocomplete")
										| Autocomplete
								li
									a(href="/dialog")
										| Dialog

			include ./shared/api
		include ./shared/scripts
