doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/src/css/tooltip.css")

	body

		include ./shared/header

		main.container(style="padding-left: 0px")
			div
				a.mk-tt(href="#", data-label="Little Tooltip")
					| Tooltip

			div#rel(style="position:relative")
				button.mk-tt
					| Tooltip
				div.mk-tt-modal
					| This is a tooltip baby

			div
				table
					tbody
						tr
							td
								button.mk-tt
									| Tooltip
								div.mk-tt-modal
									| This is a tooltip in a table
							td
								button.mk-tt(aria-describedby="test", data-position="right-bottom", data-action="click")
									| Tooltip
			div#test.mk-tt-modal
				span 
					| Parentino fofino




		include ./shared/scripts
		script(type="text/javascript", src="/src/js/standard/tooltip.js")
		script.
			
			mkNasty.transitions(true);

			var tooltip = new mkNasty.Tooltip('.container');