doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/src/css/tooltip.css")

	body

		include ./shared/header

		main.container(style="padding-left: 0px")
			div
				a.mk-tt(href="#", data-label="Little Tooltip")
					| Tooltip

			div#rel(style="position:relative")
				button.mk-tt
					| Tooltip
				div.mk-tt-modal
					| This is a tooltip baby
					input(type="text", name="testing", value="whaat")

			div
				table
					tbody
						tr
							td
								button.mk-tt
									| Tooltip
								div.mk-tt-modal
									| This is a tooltip in a table
							td
								button.mk-tt(aria-describedby="test", data-position="right-bottom", data-action="click")
									| Tooltip
			div#test.mk-tt-modal
				span
					| Parentino fofino
				input(type="text", name="test", value="whaat")




		include ./shared/scripts
		script(type="text/javascript", src="/src/js/standard/code.2.js")
		script.

			mkNasty.create('A', {

				prop: 1,

				prop2: null,

				prop3: {},

				prop4: function (f) {
					console.info(f);
				},

				get prop5 () {
					return "test";
				}
			});

			mkNasty.create('B', mkNasty.A, {

				prop4: function () {
					console.info('testing');
					this.super('Fuck you');
				}
			});
