
h2
  | API
p
  | Below are the different public properties and methods accessible to you, the end developer.
  | All of these are accessible on your #{title} instance as well as inside events bound to your instance.

div.row
  div.col-sm-6
    include ./methods
  div.col-sm-6
    include ./property
