
header
	nav.navbar.navbar-default.navbar-theme
		div.navbar-header
			div.navbar-brand.clearfix
				img.navbar-logo(src="/src/images/logo.png")
				span.navbar-details
					span.navbar-title
						| /#{title}
					span.navbar-quote
						| A Flexible UI Built on Accessibility
		ul.nav.navbar-top
			li.active
				a(target="_blank", href="http://codepen.io/micha3ldavid/post/mk-ui")
					| Codepen
			li
				a(target="_blank", href="https://github.com/micha3ldavid/mk-ui")
					| Github
