
script(type="text/javascript", language="javascript", src="/public/docs/js/jquery.js")
script(type="text/javascript", language="javascript", src="/public/docs/js/prism.js")
script(type="text/javascript", language="javascript", src="/src/js/core.js")
