doctype html
html
	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/datepicker.css")
	body
		include ./shared/header
		main.container
			include ./shared/info
			h2 Examples
			div
				form
					fieldset.mk-dp-root
						input(type="date", class="mk-dp")

			include ./shared/api
		include ./shared/scripts
		script(type="text/javascript", src="/src/js/datepicker.js")
		script.

			Mk.transitions.enable();

			var Datepicker = Mk.get('Datepicker'),
				examples = Mk.$('.mk-dp-root'),
				datepicker;

			examples.each(function (example) {
				datepicker = new Datepicker(example, {
					//format: 'dddd mmmm, dd yyyy'
				});
			});
