doctype html
html
	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/datepicker.css")
	body
		include ./shared/header
		main.container
			include ./shared/info
			h2 Examples
			div
				form
					fieldset.mk-dp-root
						input(type="date", class="mk-dp", min="2016-12-4", max="2017-12-25" aria-label="Start Date")

			include ./shared/api
		include ./shared/scripts
		script(type="text/javascript", src="/src/js/datepicker.js")
		script.

			Mk.transitions.enable();

			var Datepicker = Mk.get('Datepicker'),
				examples = Mk.$('.mk-dp-root'),
				datepicker;

			examples.each(function (example) {

				datepicker = new Datepicker(example, {
					label: 'Choose a Start Date',
					format: 'mm/dd/yyyy',
					rollover: false,
					popup: true,
					blackouts: [
						'2017-1-12'
					],
					special: {
						booked: [
							'2017-1-10'
						]
					}
				});

				datepicker.on('change', function () {
					console.info(this.value);
				});

			});
