doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/loader.css")
		link(rel="stylesheet", type="text/css", href="/docs/assets/css/loader.css")
	body
		include ./shared/header
		main.container
			include ./shared/info
			h2 Example
			div
				div#content
					ul.list-inline
						li
							a(href="#")
								| Load.
						li
							a(href="#")
								| Unload.
						li
							a(href="#")
								| Then
						li
							a(href="#")
								| tab
						li
							a(href="#")
								| through
						li
							a(href="#")
								| us.
			div#buttons
				form
					button.btn.btn-primary.load
						| Load
					button.btn.btn-secondary.unload
						| Unload

			include ./shared/events
			include ./shared/api
		include ./shared/scripts
		script(type="text/javascript", src="/src/js/loader.js")
		script.

			Mk.transitions.enable();

			var Loader = Mk.get('Loader');
			var loader = new Loader('#content');

			Mk.$('button').on('click', function (e) {

				e.preventDefault();

				if (Mk.$(this).hasClass('load')) {

					loader.show();
					return;
				}

				loader.hide();
			})
