doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/loader.css")
		link(rel="stylesheet", type="text/css", href="/docs/assets/css/loader.css")
	body
		include ./shared/header
		main.container
			include ./shared/info
			h2 Examples
			div
				div#content
					ul.list-inline
						li
							a(href="#")
								| Load.
						li
							a(href="#")
								| Unload.
						li
							a(href="#")
								| Then
						li
							a(href="#")
								| tab
						li
							a(href="#")
								| through
						li
							a(href="#")
								| us.
			div#buttons
				form
					button.btn.btn-primary.load
						| Load
					button.btn.btn-secondary.unload
						| Unload

			div#loader-types.row
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Square Loader
							aside To get a square loader, set the 'type' config parameter to 'square' or provide it as a data-type attribute on the root.
						div#square.panel-body

				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Bubble Loader
							aside To get a bubble loader, set the 'type' config parameter to 'bubble' or provide it as a data-type attribute on the root.
						div#bubble.panel-body

				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Samsung Loader
							aside To get a samsung loader, set the 'type' config parameter to 'samsung' or provide it as a data-type attribute on the root.
						div#samsung.panel-body

				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Spincycle Loader
							aside To get a spincycle loader, set the 'type' config parameter to 'spincycle' or provide it as a data-type attribute on the root.
						div#spincycle.panel-body

			include ./shared/events
			include ./shared/api
		include ./shared/scripts
		script(type="text/javascript", src="/src/js/loader.js")
		script.

			Mk.transitions.enable();

			var Loader = Mk.get('Loader');
			var mainLoader = new Loader('#content');

			Mk.$('button').on('click', function (e) {

				e.preventDefault();

				if (Mk.$(this).hasClass('load')) {

					mainLoader.show();
					return;
				}
				mainLoader.hide();
			});

			new Loader('#square', {type: 'square'}).show();
			new Loader('#bubble', {type: 'bubble'}).show();
			new Loader('#samsung', {type: 'samsung'}).show();
			new Loader('#spincycle', {type: 'spincycle'}).show();
