doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/tooltip.css")
		link(rel="stylesheet", type="text/css", href="/docs/assets/css/tooltip.css")
	body
		include ./shared/header
		main.container
			include ./shared/info
			h2 Setup
			p
				| Tooltip is a component which works on delegation, which means you'll want to specify a *parent* node to work from.
				| Yes, you can use even the body as the parent node, making adding/removing tooltips dynamic and creating the smallest number of event listeners possible.
				| There are four ways you can set up a tooltip.

			h4 As Aria-Label
			pre
				code.language-html
					| &lt;button class="mk-tt" aria-label="Some text and even markup!"&gt;A Tooltip&lt;/button&gt;

			h4 As Nested Element
			pre
				code.language-html
					| &lt;button class="mk-tt"&gt;
					|	&lt;span&gt;A Tooltip&lt;/span&gt;
					|	&lt;span class="mk-tt-modal"&gt;A Tooltip Modal!&lt;/span&gt;
					| &lt;/button&gt;

			h4 As Sibling Element
			pre
				code.language-html
					| &lt;div&gt;
					| 	&lt;button class="mk-tt"&gt;
					|		&lt;span&gt;A Tooltip&lt;/span&gt;
					| 	&lt;/button&gt;
					| 	&lt;div class="mk-tt-modal"&gt;A Tooltip Modal!&lt;/div&gt;
					| &lt;/div&gt;

			h4 Anywhere You Want
			p
				| This option requires you to 'connect' the tooltip and modal with one another manually with id and aria-describedby attributes.
			pre
				code.language-html
					| &lt;!-- some part of the document --&gt;
					| &lt;button class="mk-tt" aria-describedby="my-tooltip-modal-id"&gt;
					|	&lt;span&gt;A Tooltip&lt;/span&gt;
					| &lt;/button&gt;
					| &lt;!-- some other part of the document --&gt;
					| &lt;div id="my-tooltip-modal-id" class="mk-tt-modal"&gt;A Tooltip Modal!&lt;/div&gt;


			h2
				| Instantiation
			p
				| Remember, Tooltip works on delegation, which is different than our other components.
				| However, instantiation is the same: the first argument being the root, the second being the config options.
				| Config options are opt-in and since Tooltip is a delegate, you'll probably want most of your options set specifically on your tooltip elements.
				| See the <strong>Examples Section</strong> for more of that.
				| But in case you want to, below are all possible options available to pass in.
				| Additionally, check out the <strong>Events Section</strong> for adding events to your instance.
			pre
				code.language-javascript
					| var Tooltip = Mk.get('Tooltip');
					| //
					| // instantiate
					| var myTooltip = new Tooltip('body', {
					|	// set the default position
					|	// see Examples for all 12 positions
					|	position: 'top-center'
					|	// set the delay in milliseconds for mouseover/out tooltips, if any
					|	delay: 100,
					|	templates: {
					|		// change any of the templates for this instance only
					|	}
					| });

			h2 Examples
			p
				| There are 12 different positions you can set on your tooltip modals.
				| If there is not room for you modal to fit in the viewport size, it will make up to five attempts at being smart and positioning the modal in view.
			div#position-toggler
				button.mk-tt.btn.btn-primary
					img(src="/docs/assets/images/logo.png", alt="Mk[ui]")
				div.mk-tt-modal
					h4 Tooltip
					p Some contents.
			div#tools
				div
					button.btn(data-position="top-left")
						| Top Left
					button.btn(data-position="top-center")
						| Top Center
					button.btn(data-position="top-right")
						| Top Right
					button.btn(data-position="right-top")
						| Right Top
					button.btn(data-position="right-center")
						| Right Center
					button.btn(data-position="right-bottom")
						| Right Bottom
				div
					button.btn(data-position="bottom-left")
						| Bottom Left
					button.btn(data-position="bottom-center")
						| Bottom Center
					button.btn(data-position="bottom-right")
						| Bottom Right
					button.btn(data-position="left-top")
						| Left Top
					button.btn(data-position="left-center")
						| Left Center
					button.btn(data-position="left-bottom")
						| Left Bottom
			div.row
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title
								| Tooltip As Attribute
						div.panel-body
							p
								| Supply tooltip triggers with an aria-label attribute which will be consumed by Tooltip and generate a modal.
								| HTML in the attribute is also acceptable.
							div
								button.btn.btn-primary.mk-tt(aria-label="<strong>This</strong> is a label.")
									| Tooltip

				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title
								| Tooltip As Sibling
						div.panel-body
							p
								| You can also provide your own tooltip modal by creating a sibling element of your .mk-tt (trigger) with a class name of .mk-tt-moal.
							div
								button.btn.btn-primary.mk-tt
									| Tooltip
								div.mk-tt-modal
									h4
										| Tooltip Title
									p
										| Tooltip Content.
			div.row
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title
								| Tooltip Anywhere in the Document
						div.panel-body
							p
								| You can put a tooltip modal in any place possible, really.
								| If you decide your tooltip modal needs placement somewhere other than as a sibling or child element of the trigger, link them by id and aria-describedby attribute.
							div
								button.btn.btn-primary.mk-tt(aria-describedby="example-3")
									| Tooltip

				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title
								| Tooltip by Click
						div.panel-body
							p
								| Tooltips don't have to be triggered by mouseenter. Set the data-action attribute to "click" on the tooltip trigger and mouse events will be ignored, while click events will be enabled.
							div
								button.btn.btn-primary.mk-tt(data-action="click")
									| Tooltip
								div.mk-tt-modal
									h4
										| Tooltip Title
									p
										| Tooltip Content.
			div.row
				div.col-sm-12
					section.panel
						header.panel-heading
							h3.panel-title
								| Interactive Tooltips
						div.panel-body
							p
								| If your tooltip contains focusable content (ie: links, form elements, etc) it will become focuasable.
								| Basically what this means is it's read differently by screen readers and behavior changes.
								| You can tab and interact with the elements inside the tooltip. Focus then becomes more like a Modal.

							p
								em
									| *Interactive tooltips are only available with click events (data-action of "click") NOT mouseover events.
									| This is intentional as it is considered bad design to have interactivity within the content of mouseover/out elements.
							div
								button.btn.btn-primary.mk-tt(data-action="click")
									| Tooltip
								div.mk-tt-modal
									h4
										| Links &amp; Forms
									p
										| Oh look at all these neat little elements we've piled into our tooltip.
									ul.list-inline
										li
											a(href="javascript:void(0);")
												| Link 001
										li
											a(href="javascript:void(0);")
												| Link 002
									form
										input.form-control(type="text", value="Example")
										input.form-control(type="text", value="Example")
										button.btn
											| Submit

			div.row
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title
								| Scroll-Y Container
						div.panel-body
							p
								| We support nested scrolling containers (Y).
								| This example has the tooltip triggers inside a container of overflow-y,
								| while the modal sits outside the container (not necessary, you may put the tooltips inside the container as well).
								| We've also only created one modal, which all ten tooltips share.
							div(style="overflow-y: scroll; height: 200px")
								each val in new Array(10)
									div(style="margin: 10px")
										button.btn.btn-primary.mk-tt(aria-describedby="example-5")
											| Tooltip
						div.mk-tt-modal(id="example-5")
							h4
								| Tooltip Title
							p
								| Tooltip Content.

				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title
								| Scroll-X Container
						div.panel-body
							p
								| We support nested scrolling containers (x).
								| This example has the tooltip triggers inside a container of overflow-x,
								| while the modal sits outside the container (not necessary, you may put the tooltips inside the container as well).
								| We've also only created one modal, which all ten tooltips share.
							div(style="overflow-x: scroll;")
								div(style="width: 2000px")
									each val in new Array(10)
										div(style="margin: 10px; float: left")
											button.btn.btn-primary.mk-tt(aria-describedby="example-6")
												| Tooltip
						div.mk-tt-modal(id="example-6")
							h4
								| Tooltip Title
							p
								| Tooltip Content.




			div#example-3.mk-tt-modal
				h4
					| Tooltip Title
				p
					| Tooltip Content.

			include ./shared/events
			include ./shared/api
		include ./shared/scripts
		script(type="text/javascript", src="/src/js/tooltip.js")
		script.

			Mk.transitions.enable();

			var mkTooltip = Mk.get('Tooltip'),
				tooltip = new mkTooltip('.container'),
				btn = Mk.$('#position-toggler button');

			Mk.$('#tools').on('click', 'button', function () {
				btn.attr('data-position', Mk.$(this).attr('data-position'));
			});
