
div.subheader
    ul.list-unstyled.row
        li.col-sm-3
            div.component-card.color-sm
                h2
                    | [sm]
                h3
                    | Selectmenu
                h4
                    | First Class Component
                a(href="./selectmenu.html" title="view selectmenu documentation")

        li.col-sm-3
            div.component-card.color-tt
                h2
                    | [tt]
                h3
                    | Tooltip
                h4
                    | First Class Component
                a(href="./tooltip.html" title="view tooltip documentation")

        li.col-sm-3
            div.component-card.color-ld
                h2
                    | [ld]
                h3
                    | Loader
                h4
                    | First Class Component
                a(href="./loader.html" title="view loader documentation")
