
div.subheader
    ul.list-unstyled.row
        li.col-sm-3
            div.component-card
                h2
                    | [sm]
                h3
                    | Selectmenu
                h4
                    | First Class Component
                a(href="./docs/selectmenu.html" title="view selectmenu documentation")

        li.col-sm-3
            div.component-card
                h2
                    | [dp]
                h3
                    | Datepicker
                h4
                    | First Class Component
                a(href="./docs/datepicker.html" title="view datepicker documentation")

        li.col-sm-3
            div.component-card
                h2
                    | [tt]
                h3
                    | Tooltip
                h4
                    | First Class Component
                a(href="./docs/tooltip.html" title="view tooltip documentation")

        li.col-sm-3
            div.component-card
                h2
                    | [ld]
                h3
                    | Loader
                h4
                    | First Class Component
                a(href="./docs/loader.html" title="view loader documentation")
    ul.list-unstyled.row
        li.col-sm-3
            div.component-card
                h2
                    | [ac]
                h3
                    | Autocomplete
                h4
                    | Second Class Component
                a(href="./docs/autocomplete.html" title="view autocomplete documentation")

        li.col-sm-3
            div.component-card
                h2
                    | [dg]
                h3
                    | Dialog
                h4
                    | Second Class Component
                a(href="./docs/dialog.html" title="view dialog documentation")
