@charset "UTF-8";
@keyframes mk-autocomplete-loading {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes mk-autocomplete-loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*
//
// mk-autocomplete
// --------------------
*/
.mk-autocomplete {
  display: none; }

.mk-autocomplete-shadow {
  display: inline-block;
  position: relative; }

.mk-autocomplete-trigger {
  background: transparent;
  color: white;
  border: 1px solid crimson;
  position: relative; }

.mk-autocomplete-trigger[aria-expanded="true"],
.mk-autocomplete-trigger.focus {
  color: cadetblue;
  border-color: cadetblue; }

.mk-autocomplete-trigger.disabled {
  color: #666;
  border-color: #666; }

.mk-autocomplete-shadow.transitions .mk-autocomplete-trigger {
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.mk-autocomplete-input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 0.625rem;
  position: relative;
  z-index: 1; }

.mk-autocomplete-trigger:before,
.mk-autocomplete-trigger:after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: 4px;
  background: transparent;
  color: #ffffff;
  text-align: center;
  left: -1px;
  top: 100%;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:before {
  background: crimson; }

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:after {
  background: cadetblue;
  animation-name: mk-autocomplete-loading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite; }

.mk-autocomplete-list {
  background: #eee;
  border-top: 1px solid cadetblue;
  box-shadow: 0 0 1.5rem black;
  display: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 6.56rem;
  position: absolute;
  top: 100%;
  height: 200px;
  overflow: auto; }

.mk-autocomplete-shadow.loading .mk-autocomplete-list:before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  content: ""; }

.mk-autocomplete-shadow.loading .mk-autocomplete-list:after {
  animation: mk-autocomplete-loader 1s infinite linear;
  border: 0.25rem double #999;
  border-top-color: #333;
  border-radius: 50%;
  content: "";
  height: 3.28rem;
  left: 50%;
  margin-top: -1.64rem;
  margin-left: -1.64rem;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 3.28rem; }

.mk-autocomplete-list.transition {
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.mk-autocomplete-list[aria-hidden="false"] {
  display: block;
  opacity: 1; }

.mk-autocomplete-item {
  list-style: none; }

.mk-autocomplete-option {
  background: tranparent;
  color: #999;
  display: block;
  font-size: 1.5rem;
  padding: 0.625rem; }

.mk-autocomplete-option:hover,
.mk-autocomplete-option:active,
.mk-autocomplete-option:focus {
  background: transparent;
  color: #999; }

.mk-autocomplete-shadow.transitions .mk-autocomplete-option {
  transition: background 0.5s;
  -webkit-transition: background 0.5s; }

.mk-autocomplete-option.active {
  color: #666;
  background: #ccc; }

.mk-autocomplete-option[aria-selected="true"]:after {
  color: crimson;
  content: "✔";
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 1rem; }

.mk-autocomplete-option[aria-disabled="true"] {
  background: transparent;
  color: #ccc;
  cursor: default; }

.mk-autocomplete-tags {
  margin: 0.714rem 0;
  padding: 0; }

.mk-autocomplete-tag {
  background: #666;
  list-style: none;
  display: inline-block;
  padding: 0.357rem; }

.mk-autocomplete-tag + .mk-autocomplete-tag {
  margin-left: 0.357rem; }

.mk-autocomplete-tag [data-action="remove"] {
  background: #333;
  display: inline-block;
  padding: 0 0.357rem; }

.mk-autocomplete-tag [data-action="remove"]:before {
  content: '\d7'; }
