@charset "UTF-8";
@keyframes mk-ac-loading {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes mk-ac-loader {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*
//
// mk-ac
// --------------------
*/
.mk-ac-root {
  position: relative; }

.mk-ac {
  display: none; }

.mk-ac-shadow {
  display: block;
  position: relative; }

.mk-ac-trigger {
  background: transparent;
  color: #333;
  border: 1px solid #008e89;
  position: relative; }

.mk-ac-trigger[aria-expanded="true"],
.mk-ac-trigger.focus {
  color: #00b140;
  border-color: #00b140; }

.mk-ac-trigger.disabled {
  color: #666;
  border-color: #666; }

.mk-ac-shadow.transitions .mk-ac-trigger {
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.mk-ac-input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 0.8rem;
  position: relative;
  width: 100%; }

.mk-ac-trigger:before,
.mk-ac-trigger:after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: 4px;
  background: transparent;
  color: #ffffff;
  text-align: center;
  left: -1px;
  top: 100%;
  transition: background 0.5s;
  -webkit-transition: background 0.5s; }

.mk-ac-shadow.loading .mk-ac-trigger:before {
  background: #008e89; }

.mk-ac-shadow.loading .mk-ac-trigger:after {
  background: #00b140;
  animation-name: mk-ac-loading;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.mk-ac-list {
  background: white;
  border-top: 1px solid #00b140;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
  display: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  position: absolute;
  top: 100%;
  z-index: 1; }

.mk-ac-shadow.loading .mk-ac-list:before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  content: ""; }

.mk-ac-shadow.loading .mk-ac-list:after {
  animation: mk-ac-loader 1s infinite linear;
  border: 0.25rem double #ccc;
  border-top-color: #333;
  border-radius: 50%;
  content: "";
  height: 3.28rem;
  left: 50%;
  margin-top: -1.64rem;
  margin-left: -1.64rem;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 3.28rem; }

.mk-ac-list.transition {
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.mk-ac-list[aria-hidden="false"] {
  display: block;
  opacity: 1; }

.mk-ac-item {
  list-style: none; }

.mk-ac-option {
  background: tranparent;
  color: #666;
  display: block;
  font-size: 1.5rem;
  padding: 0.8rem; }

.mk-ac-option:hover,
.mk-ac-option:active,
.mk-ac-option:focus {
  background: transparent;
  color: #ccc;
  text-decoration: none; }

.mk-ac-shadow.transitions .mk-ac-option {
  transition: background 0.5s;
  -webkit-transition: background 0.5s; }

.mk-ac-option.active {
  color: #666;
  background: #eee; }

.mk-ac-option[aria-selected="true"]:after {
  color: #008e89;
  content: "✔";
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 1rem; }

.mk-ac-option[aria-disabled="true"] {
  background: transparent;
  color: #eee;
  cursor: default; }

.mk-ac-label .highlight {
  font-weight: bold; }

.mk-ac-tags {
  margin: 0.8rem 0;
  border: 1px solid #ccc;
  min-height: 4.6rem;
  padding: 0.8rem;
  position: relative; }

.mk-ac-tags:before {
  background: white;
  content: "Tags";
  font-size: 80%;
  left: 0.6rem;
  margin-top: -0.8rem;
  position: absolute;
  top: 0; }

.mk-ac-shadow.no-tags .mk-ac-tags {
  display: none; }

.mk-ac-tag {
  background: #eee;
  border: 1px solid #ccc;
  list-style: none;
  display: inline-block;
  padding: 0.3rem 0.3rem 0.3rem 0;
  margin: 0; }

.mk-ac-tag {
  margin-right: 0.6rem; }

.mk-ac-tag [data-action="remove"] {
  display: inline-block;
  padding: 0 0.3rem; }

.mk-ac-tag [data-action="remove"]:before {
  content: "×"; }
