@charset "UTF-8";
@keyframes mk-autocomplete-loading {
  from {
    width: 0; }
  to {
    width: 100%; } }

/*
//
// mk-autocomplete
// --------------------
*/
.mk-autocomplete {
  display: none; }

.mk-autocomplete-shadow {
  display: inline-block;
  position: relative; }

.mk-autocomplete-trigger {
  background: transparent;
  color: white;
  border: 1px solid crimson;
  position: relative; }

.mk-autocomplete-trigger[aria-expanded="true"],
.mk-autocomplete-trigger.focus {
  color: cadetblue;
  border-color: cadetblue; }

.mk-autocomplete-trigger.disabled {
  color: #666;
  border-color: #666; }

.mk-autocomplete-shadow.transitions .mk-autocomplete-trigger {
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.mk-autocomplete-input {
  background: transparent;
  border: 0;
  outline: none;
  padding: 0.625rem;
  position: relative;
  z-index: 1; }

.mk-autocomplete-trigger:before,
.mk-autocomplete-trigger:after {
  content: "";
  position: absolute;
  width: calc(100% + 2px);
  height: 4px;
  background: transparent;
  color: #ffffff;
  text-align: center;
  left: -1px;
  top: 100%;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:before {
  background: crimson; }

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:after {
  background: cadetblue;
  animation-name: mk-autocomplete-loading;
  animation-duration: 3s;
  animation-iteration-count: infinite; }

.mk-autocomplete-list {
  background: whitesmoke;
  border-top: 1px solid cadetblue;
  box-shadow: 0 0 1.5rem black;
  display: none;
  opacity: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  position: absolute;
  top: 100%; }

.mk-autocomplete-list.transition {
  display: block;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.mk-autocomplete-list[aria-hidden="false"] {
  display: block;
  opacity: 1; }

.mk-autocomplete-item {
  list-style: none; }

.mk-autocomplete-option {
  background: tranparent;
  color: dimgray;
  display: block;
  font-size: 1.5rem;
  padding: 0.625rem; }

.mk-autocomplete-option:hover,
.mk-autocomplete-option:active,
.mk-autocomplete-option:focus {
  background: transparent;
  color: dimgray; }

.mk-autocomplete-shadow.transitions .mk-autocomplete-option {
  transition: background 0.5s;
  -webkit-transition: background 0.5s; }

.mk-autocomplete-option.active {
  color: dimgray;
  background: #d7d7d7; }

.mk-autocomplete-option[aria-selected="true"]:after {
  color: crimson;
  content: "✔";
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 1rem; }

.mk-autocomplete-option[aria-disabled="true"] {
  background: transparent;
  color: #ccc;
  cursor: default; }
