button {
  margin: 40px; }

.mk-tt {
  cursor: pointer; }

.mk-tt-modal {
  background: #666;
  border-radius: 2px;
  box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.3);
  color: #333;
  display: none;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  margin: 1rem;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px 6px rgba(0, 0, 0, 0.3); }

.mk-tt-modal.transitions {
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s; }

.mk-tt-modal.transition {
  display: block; }

.mk-tt-modal.out {
  opacity: 0; }

.mk-tt-modal[aria-hidden="false"] {
  display: block;
  opacity: 1; }

.mk-tt-modal:before,
.mk-tt-modal:after {
  content: '';
  height: 0;
  position: absolute;
  width: 0; }

.mk-tt-modal.top-left:before,
.mk-tt-modal.top-center:before,
.mk-tt-modal.top-right:before,
.mk-tt-modal.top-left:after,
.mk-tt-modal.top-center:after,
.mk-tt-modal.top-right:after {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid #666;
  top: 100%; }

.mk-tt-modal.bottom-left:before,
.mk-tt-modal.bottom-center:before,
.mk-tt-modal.bottom-right:before,
.mk-tt-modal.bottom-left:after,
.mk-tt-modal.bottom-center:after,
.mk-tt-modal.bottom-right:after {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #666;
  bottom: 100%; }

.mk-tt-modal.left-top:before,
.mk-tt-modal.left-center:before,
.mk-tt-modal.left-bottom:before,
.mk-tt-modal.left-top:after,
.mk-tt-modal.left-center:after,
.mk-tt-modal.left-bottom:after {
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid #666;
  left: 100%; }

.mk-tt-modal.right-top:before,
.mk-tt-modal.right-center:before,
.mk-tt-modal.right-bottom:before,
.mk-tt-modal.right-top:after,
.mk-tt-modal.right-center:after,
.mk-tt-modal.right-bottom:after {
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid #666;
  right: 100%; }

.mk-tt-modal.top-left:before,
.mk-tt-modal.bottom-left:before,
.mk-tt-modal.top-left:after,
.mk-tt-modal.bottom-left:after {
  left: 1rem; }

.mk-tt-modal.top-right:before,
.mk-tt-modal.bottom-right:before,
.mk-tt-modal.top-right:after,
.mk-tt-modal.bottom-right:after {
  right: 1rem; }

.mk-tt-modal.top-center:before,
.mk-tt-modal.bottom-center:before,
.mk-tt-modal.top-center:after,
.mk-tt-modal.bottom-center:after {
  left: 50%;
  margin-left: -1rem; }

.mk-tt-modal.left-top:before,
.mk-tt-modal.right-top:before,
.mk-tt-modal.left-top:after,
.mk-tt-modal.right-top:after {
  top: 1rem; }

.mk-tt-modal.left-bottom:before,
.mk-tt-modal.right-bottom:before,
.mk-tt-modal.left-bottom:after,
.mk-tt-modal.right-bottom:after {
  bottom: 1rem; }

.mk-tt-modal.left-center:before,
.mk-tt-modal.right-center:before,
.mk-tt-modal.left-center:after,
.mk-tt-modal.right-center:after {
  top: 50%;
  margin-top: -1rem; }

.mk-tt-kill {
  position: absolute;
  left: -9999px; }
