
#position-toggler {
    border: 1px solid #ccc;
    margin: 20px 0 0;
    padding: 20px;
    text-align: center;
}

#position-toggler button {
    border-radius: 80%;
    padding: 42px 14px;
}

#tools {
    background: #f7f7f7;
    border: 1px solid #ccc;
    border-width: 0 1px 1px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}

#tools div {
    margin-bottom: 5px;
}

#tools button + button{
    margin-left: 5px;
}

#example-dialog h4 {
    color: white;
}

#example-dialog a {
    color: white;
}

#example-dialog input {
    margin-bottom: 10px;
}

#example-dialog button {
    margin-right: 10px;
}
