
@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:400,700';

body {
	background: white;
	color: #333;
    font-family: 'Roboto Slab';
    margin-bottom: 100px;
}

body a {
	color: #328f8a;
}

body a:hover,
body a:active,
body a:focus {
	color: #328f8a;
	text-decoration: underline;
}

.error-404,
.error-500 {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom left;
	height: 100vh;
	margin: 0;
}

.error-404 {
	background-image: url(/app/assets/images/404.jpg);
}

.error-500 {
	background-image: url(/app/assets/src/images/500.jpg);
}

.error-500 > header,
.error-404 > header {
	position: absolute;
	width: 100%;
}



.documentation h1,
.documentation h2,
.documentation h3,
.documentation h4,
.documentation h5,
.documentation h6 {
    color: #008e89;
}

.navbar-theme {
	background: linear-gradient(45deg,#328f8a,#08ac4b);
    border-bottom: 1px solid #328f8a;
    border-radius: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Roboto Slab';
    font-weight: 700;
    padding: 0 15px;
    top: 0;
    width: 100%;
    z-index: 2;
    min-height: 78px;
}

.navbar-theme .navbar-brand {
	color: white;
}

.navbar-theme .navbar-brand:hover {
	color: white;
}

.navbar-theme .navbar-brand .navbar-logo {
	float: left;
    display: block;
 	margin-top: 4px;
    margin-right: 20px;
}

.navbar-theme .navbar-brand .navbar-details {
	float: left;
    display: block;
    margin-top: 5px;
}

.navbar-theme .navbar-brand .navbar-quote {
	display: block;
    font-size: 11px;
}

.navbar-theme .navbar-top {
	position: absolute;
    right: 30px;
    top: 0;
}

.navbar-theme .navbar-top > li {
	display: inline-block;
}

.navbar-theme .navbar-top > li > a {
	color: white;
	display: inline-block;
    padding: 0 10px;
    font-size: 11px;
}

.navbar-theme .navbar-top > li > a:hover,
.navbar-theme .navbar-top > li > a:active,
.navbar-theme .navbar-top > li > a:focus {
	background: transparent;
	color: white;
	text-decoration: underline;
}

.h-theme {
	margin: 0 0 10px;
	font-family: 'Roboto Slab';
	color: #666666;
	font-size: 18px;
}

.font-theme {
	font-family: 'Roboto Slab';
}

.panel {
	border-radius: 0;
	border-color: #d7d7d7;
}

.panel-event {
	min-height: 275px;
}

.panel-body {
	padding-top: 0;
}

.list-methods,
.list-property {
	background: whitesmoke;
}

.list-methods li,
.list-property li {
	border-bottom: 1px solid #ccc;
	padding: 20px;
}

.list-params {
	background: #ccc;
}

.list-params li {
	padding: 10px;
}

.list-params li dl {
	margin: 0;
}

.list-params li dl {
	display: table;
}

.list-params li dl dt,
.list-params li dl dd {
	display: table-cell;
}

.list-params li dl dt {
	width: 100px;
}
