
$mk-primary: #008e89;
$mk-secondary: #00b140;

$mk-gray-1: #333;
$mk-gray-2: #666;
$mk-gray-3: #ccc;
$mk-gray-4: #eee;
$mk-gray-5: white;

$mk-color: #333;

$mk-padding: 0.8rem;
$mk-margin: 0.8rem;

//
// loader
// -------------------------------------------

$mk-ld-transition-speed: 0.5s;
$mk-ld-overlay-bg: rgba(0, 0, 0, 0.4);
$mk-ld-boxshadow-color: rgba(255, 255, 255, 0.15);

//
// selectmenu
// -------------------------------------------

$mk-sm-transition-speed: 0.5s;

$mk-sm-trigger-bg: transparent;
$mk-sm-trigger-color: $mk-color;
$mk-sm-trigger-char: '\203A';
$mk-sm-trigger-char-transform: rotate(90deg);
$mk-sm-trigger-disabled-color: $mk-gray-2;

$mk-sm-list-bg: $mk-gray-5;
$mk-sm-list-boxshadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);

$mk-sm-option-color: $mk-gray-2;
$mk-sm-option-bg: tranparent;

$mk-sm-option-color-hover: $mk-gray-3;
$mk-sm-option-bg-hover: transparent;

$mk-sm-option-color-disabled: $mk-gray-4;
$mk-sm-option-bg-disabled: transparent;

$mk-sm-option-color-active: $mk-gray-2;
$mk-sm-option-bg-active: $mk-gray-4;

$mk-sm-option-selected-char: '\2714';

//
// Autocomplete
// -------------------------------------------

$mk-ac-transition-speed: 0.5s;

$mk-ac-trigger-bg: transparent;
$mk-ac-trigger-color: $mk-color;
$mk-ac-trigger-char-transform: rotate(90deg);
$mk-ac-trigger-disabled-color: $mk-gray-2;

$mk-ac-list-bg: $mk-gray-5;
$mk-ac-list-boxshadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);

$mk-ac-option-color: $mk-gray-2;
$mk-ac-option-bg: tranparent;

$mk-ac-option-color-hover: $mk-gray-3;
$mk-ac-option-bg-hover: transparent;

$mk-ac-option-color-disabled: $mk-gray-4;
$mk-ac-option-bg-disabled: transparent;

$mk-ac-option-color-active:$mk-gray-2;
$mk-ac-option-bg-active: $mk-gray-4;

$mk-ac-option-selected-char: '\2714';

$mk-ac-list-loader-bg: rgba(255, 255, 255, 0.7);
$mk-ac-list-loader-size: 3.28rem;

$mk-ac-tag-bg: $mk-gray-4;
$mk-ac-tag-border: 1px solid $mk-gray-3;
$mk-ac-tag-remove-icon: '\d7';

//
// Tooltip
// -------------------------------------------

$mk-tt-bg: $mk-gray-1;
$mk-tt-color: $mk-gray-5;
$mk-tt-boxshadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
$mk-tt-transition-speed: 0.5s;
$mk-tt-arrow-size: 0.6rem;
$mk-tt-arrow-offset: 1rem;
$mk-tt-margin: 1rem;
$mk-tt-padding: 1rem;

//
// Dialog
// -------------------------------------------

$mk-dg-bg: $mk-gray-3;
$mk-dg-color: $mk-gray-5;
$mk-dg-boxshadow: 0 0 1.5rem rgba(0, 0, 0, 0.4);
$mk-dg-transition-speed: 0.5s;
