
$mk-primary: crimson;
$mk-secondary: cadetblue;

$mk-gray-1: #333;
$mk-gray-2: #666;
$mk-gray-3: #999;
$mk-gray-4: #ccc;
$mk-gray-5: #eee;

$mk-color: white;

//
// loader
// -------------------------------------------

$mk-ld-transition-speed: 0.5s;
$mk-ld-overlay-bg: rgba(0, 0, 0, 0.4);
$mk-ld-boxshadow-color: rgba(255, 255, 255, 0.15);

//
// selectmenu
// -------------------------------------------

$mk-sm-transition-speed: 0.5s;

$mk-sm-trigger-bg: transparent;
$mk-sm-trigger-color: $mk-color;
$mk-sm-trigger-char: '\203A';
$mk-sm-trigger-char-transform: rotate(90deg);
$mk-sm-trigger-disabled-color: $mk-gray-2;

$mk-sm-list-bg: $mk-gray-5;

$mk-sm-option-color: $mk-gray-3;
$mk-sm-option-bg: tranparent;

$mk-sm-option-color-hover: $mk-gray-3;
$mk-sm-option-bg-hover: transparent;

$mk-sm-option-color-disabled: $mk-gray-4;
$mk-sm-option-bg-disabled: transparent;

$mk-sm-option-color-active: $mk-gray-2;
$mk-sm-option-bg-active: $mk-gray-4;

$mk-sm-option-selected-char: '\2714';

//
// Autocomplete
// -------------------------------------------

$mk-ac-transition-speed: 0.5s;

$mk-ac-trigger-bg: transparent;
$mk-ac-trigger-color: $mk-color;
$mk-ac-trigger-char-transform: rotate(90deg);
$mk-ac-trigger-disabled-color: $mk-gray-2;

$mk-ac-list-bg: $mk-gray-5;

$mk-ac-option-color: $mk-gray-3;
$mk-ac-option-bg: tranparent;

$mk-ac-option-color-hover: $mk-gray-3;
$mk-ac-option-bg-hover: transparent;

$mk-ac-option-color-disabled: $mk-gray-4;
$mk-ac-option-bg-disabled: transparent;

$mk-ac-option-color-active:$mk-gray-2;
$mk-ac-option-bg-active: $mk-gray-4;

$mk-ac-option-selected-char: '\2714';

$mk-ac-list-loader-bg: rgba(255, 255, 255, 0.7);
$mk-ac-list-loader-size: 3.28rem;
