
@import "_variables";

@keyframes mk-autocomplete-loading {
	from { width: 0; }
	to { width: 100%; }
}

@keyframes mk-autocomplete-loader {	
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
//
// mk-autocomplete
// --------------------
*/

.mk-autocomplete {
	display: none;
}

.mk-autocomplete-shadow {
	display: inline-block;
	position: relative;
}

.mk-autocomplete-trigger {
	background: $mk-selectmenu-trigger-bg;
	color: $mk-selectmenu-trigger-color;
	border: 1px solid $mk-primary;
	position: relative;
}

.mk-autocomplete-trigger[aria-expanded="true"],
.mk-autocomplete-trigger.focus {
	color: $mk-secondary;
	border-color: $mk-secondary;
}

.mk-autocomplete-trigger.disabled {
	color: $mk-selectmenu-trigger-disabled-color;
	border-color: $mk-selectmenu-trigger-disabled-color;
}

.mk-autocomplete-shadow.transitions .mk-autocomplete-trigger {
	 transition: all $mk-selectmenu-transition-speed;
	-webkit-transition: all $mk-selectmenu-transition-speed;
}

.mk-autocomplete-input {
	background: transparent;
	border: 0;
	outline: none;
	padding: 0.625rem;
	position: relative;
	z-index: 1;
}

.mk-autocomplete-trigger:before,
.mk-autocomplete-trigger:after {
	content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 4px;
    background: transparent;
    color: #ffffff;
    text-align: center;
    left: -1px;
    top: 100%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:before {
	background: $mk-primary;
}

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:after {
	background: $mk-secondary;
    animation-name: mk-autocomplete-loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.mk-autocomplete-list {
	background: $mk-selectmenu-list-bg;
	border-top: 1px solid $mk-secondary;
	box-shadow: 0 0 1.5rem black;
	display: none;
	opacity: 0;
	margin: 0;
	padding: 0;
	min-width: 100%;
	position: absolute;
	top: 100%;
}

.mk-autocomplete-shadow.loading .mk-autocomplete-list:before {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.7);
	position: absolute;
	content: "";
}

.mk-autocomplete-shadow.loading .mk-autocomplete-list:after {
	border-radius: 50%;
    width: 46px;
    height: 46px;
    border: .25rem solid #999;
    border-top-color: black;
    animation: mk-autocomplete-loader 1s infinite linear;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -23px;
    text-align: center;
    left: 50%;
    margin-left: -23px;
}

.mk-autocomplete-list.transition {
	 display: block;
	 transition: all $mk-selectmenu-transition-speed;
	-webkit-transition: all $mk-selectmenu-transition-speed;
}

.mk-autocomplete-list[aria-hidden="false"] {
	display: block;
	opacity: 1;
}

.mk-autocomplete-item {
	list-style: none;
}

.mk-autocomplete-option {
	background: $mk-selectmenu-option-bg;
	color: $mk-selectmenu-option-color;
	display: block;
	font-size: 1.5rem;
	padding: 0.625rem;
}

.mk-autocomplete-option:hover,
.mk-autocomplete-option:active,
.mk-autocomplete-option:focus {
	background: $mk-selectmenu-option-bg-hover;
	color: $mk-selectmenu-option-color-hover;
}

.mk-autocomplete-shadow.transitions .mk-autocomplete-option {
	 transition: background $mk-selectmenu-transition-speed;
	-webkit-transition: background $mk-selectmenu-transition-speed;
}

.mk-autocomplete-option.active {
	color: $mk-selectmenu-option-color-active;
	background: $mk-selectmenu-option-bg-active;
}

.mk-autocomplete-option[aria-selected="true"]:after {
	color: $mk-primary;
	content: $mk-selectmenu-option-selected-char;
	font-size: 2rem;
	line-height: 2rem;
	position: absolute;
	right: 1rem;
}

.mk-autocomplete-option[aria-disabled="true"] {
	background: $mk-selectmenu-option-bg-disabled;
	color: $mk-selectmenu-option-color-disabled;
	cursor: default;
}

.mk-autocomplete-tags {
	margin: 10px 0;
	padding: 0;
}

.mk-autocomplete-tag {
	background: #555;
	list-style: none;
	display: inline-block;
	padding: 5px;
}

.mk-autocomplete-tag [data-action="remove"] {
	background: #000;
	display: inline-block;
	padding: 0 5px;
}

.mk-autocomplete-tag [data-action="remove"]:before {
	content: '\d7';
}