
@import "_variables";

@keyframes mk-autocomplete-loading {
	from { width: 0; }
	to { width: 100%; }
}

@keyframes mk-autocomplete-loader {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*
//
// mk-autocomplete
// --------------------
*/

.mk-autocomplete {
	display: none;
}

.mk-autocomplete-shadow {
	display: inline-block;
	position: relative;
}

.mk-autocomplete-trigger {
	background: $mk-autocomplete-trigger-bg;
	color: $mk-autocomplete-trigger-color;
	border: 1px solid $mk-primary;
	position: relative;
}

.mk-autocomplete-trigger[aria-expanded="true"],
.mk-autocomplete-trigger.focus {
	color: $mk-secondary;
	border-color: $mk-secondary;
}

.mk-autocomplete-trigger.disabled {
	color: $mk-autocomplete-trigger-disabled-color;
	border-color: $mk-autocomplete-trigger-disabled-color;
}

.mk-autocomplete-shadow.transitions .mk-autocomplete-trigger {
	 transition: all $mk-autocomplete-transition-speed;
	-webkit-transition: all $mk-autocomplete-transition-speed;
}

.mk-autocomplete-input {
	background: transparent;
	border: 0;
	outline: none;
	padding: 0.625rem;
	position: relative;
	z-index: 1;
}

.mk-autocomplete-trigger:before,
.mk-autocomplete-trigger:after {
		content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 4px;
    background: transparent;
    color: #ffffff;
    text-align: center;
    left: -1px;
    top: 100%;
    transition: all $mk-autocomplete-transition-speed;
    -webkit-transition: all $mk-autocomplete-transition-speed;
}

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:before {
	background: $mk-primary;
}

.mk-autocomplete-shadow.loading .mk-autocomplete-trigger:after {
	background: $mk-secondary;
    animation-name: mk-autocomplete-loading;
    animation-duration: $mk-autocomplete-transition-speed;
    animation-iteration-count: infinite;
}

.mk-autocomplete-list {
	background: $mk-autocomplete-list-bg;
	border-top: 1px solid $mk-secondary;
	box-shadow: 0 0 1.5rem black;
	display: none;
	opacity: 0;
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: $mk-autocomplete-list-loader-size * 2;
	position: absolute;
	top: 100%;
	height: 200px;
	overflow: auto;
}

.mk-autocomplete-shadow.loading .mk-autocomplete-list:before {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: $mk-autocomplete-list-loader-bg;
	position: absolute;
	content: "";
}

.mk-autocomplete-shadow.loading .mk-autocomplete-list:after {
		animation: mk-autocomplete-loader 1s infinite linear;
		border: .25rem double $mk-gray-3;
		border-top-color: $mk-gray-1;
		border-radius: 50%;
		content: "";
    height: $mk-autocomplete-list-loader-size;
		left: 50%;
    margin-top: ($mk-autocomplete-list-loader-size / 2) * -1;
    margin-left: ($mk-autocomplete-list-loader-size / 2) * -1;
    position: absolute;
    top: 50%;
    text-align: center;
		width: $mk-autocomplete-list-loader-size;
}

.mk-autocomplete-list.transition {
	 display: block;
	 transition: all $mk-autocomplete-transition-speed;
	-webkit-transition: all $mk-autocomplete-transition-speed;
}

.mk-autocomplete-list[aria-hidden="false"] {
	display: block;
	opacity: 1;
}

.mk-autocomplete-item {
	list-style: none;
}

.mk-autocomplete-option {
	background: $mk-autocomplete-option-bg;
	color: $mk-autocomplete-option-color;
	display: block;
	font-size: 1.5rem;
	padding: 0.625rem;
}

.mk-autocomplete-option:hover,
.mk-autocomplete-option:active,
.mk-autocomplete-option:focus {
	background: $mk-autocomplete-option-bg-hover;
	color: $mk-autocomplete-option-color-hover;
}

.mk-autocomplete-shadow.transitions .mk-autocomplete-option {
	 transition: background $mk-autocomplete-transition-speed;
	-webkit-transition: background $mk-autocomplete-transition-speed;
}

.mk-autocomplete-option.active {
	color: $mk-autocomplete-option-color-active;
	background: $mk-autocomplete-option-bg-active;
}

.mk-autocomplete-option[aria-selected="true"]:after {
	color: $mk-primary;
	content: $mk-autocomplete-option-selected-char;
	font-size: 2rem;
	line-height: 2rem;
	position: absolute;
	right: 1rem;
}

.mk-autocomplete-option[aria-disabled="true"] {
	background: $mk-autocomplete-option-bg-disabled;
	color: $mk-autocomplete-option-color-disabled;
	cursor: default;
}

.mk-autocomplete-tags {
	margin: 0.714rem 0;
	padding: 0;
}

.mk-autocomplete-tag {
	background: $mk-gray-2;
	list-style: none;
	display: inline-block;
	padding: 0.357rem;
}

.mk-autocomplete-tag + .mk-autocomplete-tag {
	margin-left: 0.357rem;
}

.mk-autocomplete-tag [data-action="remove"] {
	background: $mk-gray-1;
	display: inline-block;
	padding: 0 0.357rem;
}

.mk-autocomplete-tag [data-action="remove"]:before {
	content: '\d7';
}
