
@import "_variables";

button {
  margin: 40px;
}

.mk-dg {
  cursor: pointer;
}

.mk-dg-modal {
  background: $mk-gray-2;
  border-radius: 0;
  box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
  color: $mk-color;
  display: none;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  margin: 0;
  z-index: 9999;
  -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
}

.mk-dg-modal.transitions {
  transition: opacity $mk-ac-transition-speed;
 -webkit-transition: opacity $mk-ac-transition-speed;
}

.mk-dg-modal.transition {
  display: block;
}

.mk-dg-modal.out {
  opacity: 0;
}

.mk-dg-modal[aria-hidden="false"] {
  display: block;
  opacity: 1;
}

.mk-dg-kill {
  position: absolute;
  left: -9999px;
}
