
@import "_variables";

.mk-tt {
  cursor: pointer;
}

.mk-tt-modal {
  background: $mk-gray-2;
  border-radius: 5px;
  color: $mk-color;
  display: none;
  padding: 10px;
  position: absolute;
}

.mk-tt-modal[aria-hidden="false"] {
  display: block;
  z-index: 1000;
}

.mk-tt-kill {
  position: absolute;
  left: -9999px;
}
