doctype html
html
	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/dialog.css")
	body
		include ./shared/header
		main.container
			include ./shared/info
			h2 Examples
			div
				table
					tbody
						tr
							td
								button.mk-dg(aria-describedby="test", data-action="click")
									| Tooltip
			div#test.mk-dg-modal
				span
					| Parentino fofino
				ul.list-unstyled
					li
						a(href="#")
							| Link 001
					li
						a(href="#")
							| Link 002
					li
						a(href="#")
							| Link 003
					li
						a(href="#")
							| Link 004

			include ./shared/events
			include ./shared/api
	include ./shared/scripts
	script(type="text/javascript", src="/dist/js/tooltip.min.js")
	script(type="text/javascript", src="/dist/js/dialog.min.js")
	script.

		Mk.transitions(true);

		var dialog = new Mk.Dialog('.mk-dg');
