doctype html
html

	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/loader.css")
		style.

			#content {
				border: 1px solid #ccc;
				padding: 150px 0;
				position: relative;
				text-align: center;
			}

			#buttons {
				background: #f7f7f7;
				border: 1px solid #ccc;
				border-width: 0 1px 1px;
				padding: 10px;
				text-align: center;
			}

			#buttons button + button {
				margin-left: 10px;
			}
	body
		include ./shared/header

		main.container
			p
				em
					| Loader inherits from Core. For a detailed list of features, visit&nbsp;
					a(href="/")
						| Core.
			h2
				| Example
			div
				div#content
					ul.list-inline
						li
							a(href="#")
								| Load.
						li
							a(href="#")
								| Unload.
						li
							a(href="#")
								| Then
						li
							a(href="#")
								| tab
						li
							a(href="#")
								| through
						li
							a(href="#")
								| us.
			div#buttons
				form
					button.btn.btn-primary.load
						| Load
					button.btn.btn-secondary.unload
						| Unload

			include ./shared/events
			include ./shared/api
		include ./shared/scripts
		script(type="text/javascript", src="/dist/js/loader.min.js")
		script.

			Mk.transitions(true);

			var Loader = Mk.get('Loader');
			var loader = new Loader('#content');

			$('button').on('click', function (e) {

				e.preventDefault();

				if ($(this).hasClass('load')) {
					loader.show();
					return;
				}
				loader.hide();
			})
