doctype html
html
	head
		include ./shared/head
		link(rel="stylesheet", type="text/css", href="/dist/css/selectmenu.css")
		link(rel="stylesheet", type="text/css", href="/app/assets/css/selectmenu.css")
	body
		include ./shared/header
		main.container
			include ./shared/info
			h2 Examples
			div.row
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Single Select
						div.panel-body
							p
								| Bare bones select menu setup. Selectmenu defaults to a single select and the label value is the currently selected option.
							div.mk-sm-root
								select.mk-sm(aria-label="Animal Choices")
										option(value="1") Lions
										option(value="2") Tigers
										option(value="3") Bears
										option(value="4") Wolves
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Multi Select
						div.panel-body
							p
								| Add the multiple attribute to turn select menus into multiselectable comboboxes. Multiselects are recommended to be given a label via the aria-label attribute.
							div.mk-sm-root
								select.mk-sm(aria-label="Animal Choices", multiple="true")
										option(value="1") Lions
										option(value="2", selected="true") Tigers
										option(value="3") Bears
										option(value="4") Wolves
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Single Select W/ Optgroups
						div.panel-body
							p
								| Selectmenu supports optgroups as well. With single selects, optgroups are not part of the keyboard or active indexing and are presentation elements for screen readers.
							div.mk-sm-root
								select.mk-sm(aria-label="Animals and Insects")
									optgroup(label="Animals")
										option(value="1") Lions
										option(value="2") Tigers
										option(value="3") Bears
										option(value="4") Wolves
									optgroup(label="Bugs")
										option(value="5") Grasshoppers
										option(value="6", selected="true") Dragonflies
										option(value="7") Butterflies
										option(value="8") Spiders
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Multi Select W/ Optgroups
						div.panel-body
							p
								| Multiselect menus with optgroups provide the user with the ability to select the optgroup.
								| Selecting the optgroup will activate/deactivate all child options within the optgroup.
							div.mk-sm-root
								select.mk-sm(aria-label="Animals and Insects", multiple="true")
									optgroup(label="Animals")
										option(value="1") Lions
										option(value="2", selected="true") Tigers
										option(value="3", selected="true") Bears
										option(value="4") Wolves
									optgroup(label="Bugs")
										option(value="5") Grasshoppers
										option(value="6") Dragonflies
										option(value="7") Butterflies
										option(value="8") Spiders
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Selectmenu W/ Classnames
						div.panel-body
							p
								| You can customize individual options, optgroups, and the root select node by adding classnames to your setup elements.
								| Selectmenu will copy those classnames and add them to the renered ui elements.
							div.mk-sm-root
								select.mk-sm(aria-label="Animals")
									optgroup(label="Animals")
										option(value="1", class="icon") Lions
										option(value="2", class="icon") Tigers
										option(value="3", class="icon") Bears
										option(value="4", class="icon") Wolves
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Selectmenu W/ Clear All
						div.panel-body
							p
								| Selectmenu comes with the opt-in ability for a Clear All option (text can be changed through format options).
								| To consume this behavior simply add a data-removable="true" to your setup select element. Clear all only works with multiselects, since single selects always have a default value.
							div.mk-sm-root#removable
								select.mk-sm(aria-label="Animals", multiple="true", data-removable="true")
									optgroup(label="Animals")
										option(value="1") Lions
										option(value="2", selected="true") Tigers
										option(value="3") Bears
										option(value="4") Wolves
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Selectmenu W/ Alt Text
						div.panel-body
							p
								| You can also provide options with alternative text or a more detailed description.
								| Add a data-alt="&lt;your text here&gt;" to create alt labelling.
							div.mk-sm-root
								select.mk-sm
									optgroup(label="Animals")
										option(value="1", data-alt="King of the Jungle") Lions
										option(value="2", data-alt="The real King") Tigers
										option(value="3", data-alt="Lazy honey eating, lover") Bears
										option(value="4", data-alt="Catch me if you can") Wolves
				div.col-sm-6
					section.panel
						header.panel-heading
							h3.panel-title Selectmenu W/ Restricted Height
						div.panel-body
							p
								| If the height of your menu needs to be restricted to a perticular height, Selectmenu also supports scrolling through lists and keeping active/selected elements in view.
							div.mk-sm-root
								select.restrict-height.mk-sm(aria-label="Odd Mixes", multiple="true")
									optgroup(label="Animals")
										option(value="1") Lions
										option(value="2") Tigers
										option(value="3") Bears
										option(value="4") Wolves
									optgroup(label="Bugs")
										option(value="5") Grasshoppers
										option(value="6") Dragonflies
										option(value="7", selected="true") Butterflies
										option(value="8") Spiders
									optgroup(label="Candy")
										option(value="9") Now &amp; Laters
										option(value="10") Gummy Bears
										option(value="11") Salt Water Taffy
										option(value="12") Chocolate

			include ./shared/events
			include ./shared/api
		include ./shared/scripts
		script(type="text/javascript", src="/src/js/selectmenu.js")
		script.

			Mk.transitions.enable();

			var selects = Mk.$('.mk-sm-root'),
				mkSelect = Mk.get('Selectmenu'),
				select;

			selects.each(function (el) {

				select = new mkSelect(this);

				select.on('change', function () {
					console.log('values: ', this.value);
				});
			});
